<header class="header">
    <div class="content">
      <h1><span>Get Quick</span><br />Medical Services</h1>
      <p>
        In the fast-paced world we live in, having access to swift and reliable medical services is 
        essential. In emergencies or when urgent care is needed, the speed and efficiency of medical 
        attention can make a crucial difference in the outcome.
      </p>
      <button class="btn">Get Services</button>
    </div>
    <div class="image">
      <span class="image__bg"></span>
      <img src="assets/Doctor.jpg" alt="header image" />
      <div class="image__content image__content__1">
        <span><i class="ri-user-3-line"></i></span>
        <div class="details">
          <h4>970+</h4>
          <p>Active Clients</p>
        </div>
      </div>
      <div class="image__content image__content__2">
        <ul>
          <li>
            <span><i class="ri-check-line"></i></span>
            Get 20% off on 1st month
          </li>
          <li>
            <span><i class="ri-check-line"></i></span>
            Expert Doctors
          </li>
        </ul>
      </div>
    </div>
  </header>